/* body {
} */

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

html {
	width: 100%;
	height: 100%;
	display: table;
}

body {
	width: 100%;
	display: table-cell;
}

p, h1, h2, h3 {
	font-size: 150px;
	margin: 0px;
	margin-right: 25px;
	color: #0a4a91;
	           /* color | offset-x | offset-y | blur-radius */
	text-shadow: rgb(124, 124, 124)      1px       0            10px;
	font-family: 'Concert One', cursive;
	text-align: end;
}
