@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

html body {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

/* #header {
	display: block;
	background-color: #004f9c;
	margin: 0px;
	padding: 20px 5px 20px 5px;
	font-size: 4em;
	color: white;
	font-family: 'Concert One', cursive;
} */

#donationList {
	display: block;
/* 	background-color: #28beff; */
	margin: 0px;
	padding: 5px;
}

.donation {
	display: flex;
	/* border: 2px solid #077bad; */
/* 	background-color: #9ae1ff; */
	min-height: 4.5em;
	justify-content: space-between;
	border-radius: 10px;
	font-family: 'Concert One', cursive;
}

.name {
	display: flex;
	font-family: 'Concert One', cursive;
}

.value {
	display: flex;
	/* border: 2px solid #077bad; */
/* 	background-color: #ccf0ff; */
	justify-content: flex-end;
	min-width: 5em;
	padding: 0px 10px 0px 10px;
	border-radius: 10px;
	font-family: 'Concert One', cursive;
}

.text {
	/* font-size: 150px; */
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.275)      1px       0            0.1em;

	align-items: center;
	font-size: 2.5em;
	font-family: 'Concert One', cursive;
}