@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.donation {
	display: flex;
	min-height: 4.5em;
	justify-content: space-between;
}

.value {
	padding: 0px 10px 0px 10px;
}

.donation .assetTextStyle {
	font-size: 2.5em;
	padding: 0px 10px 0px 10px;
}