#warn * {
	color: red;
}

* {
	font-family: 'Roboto', sans-serif;
	font-size: large;
	color: #fff;
}

.colorPick {
	margin: 2% 2%;
}

.colorPick * {
	font-family: 'Concert One', cursive;
}

.colorPick span {
	background-color: #fff;
	margin-inline: 2%;
	padding: 0.25em;
}

.welcome {
	padding: 15px;
}

body {
		background-color: #36393f;
}

.goalList {
	border: solid 1px #fff;
}

.goalTextStyle {
	margin: 0.1em 2em;
}

.goal {
	display: grid;
	grid-template-columns: 50px auto auto 150px 150px;
	margin: 0.5em 0;
	/* border: solid #fff 1px; */
	/* border-radius: 0.2em; */
	/* min-width: 600px; */
	
}

iframe {
	/* width: 100%; */
	background-color: rgb(190, 190, 190);
	/* aspect-ratio: 9 / 2; */
	max-width: 900px;
}


.listElement {
	width: max-content;
	min-width: max-content;
	margin: 10px;
	padding: 25px;
	background-color: #4a4a55;
	border-radius: 10px;
}

.listElement p {
	flex: 12;
	position: absolute;
	margin-left: 100px;
}

.listElement iframe {
	margin-top: 50px;
}




#myList {
	display: grid;
	grid-template-columns: auto auto;
}

#myList .listElement{
	display: inline-table;
	grid-template-columns: auto auto;
	width: auto;
}





#colorPreview {
	color: #fff;
	text-shadow: #000 1px 0 10px;
	font-size: 2.5em;
}

button,	.button {
	width: fit-content;
	padding: 0.25em 1em;
	margin: 0.25em;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #04AA6D;
	border: none;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.8) 0 2px 0;
	transition: all 0.075s ease-in-out;
}

button:hover {background-color: #3e8e41}

button:active {
	background-color: #8e3e3e;
	box-shadow: rgba(0, 0, 0, 0.25) 0 0.1em;
	transform: translateY(4px);
}

.assetShowcase {
	padding: 50px;
	display: grid;
	grid-template-columns: 50% 50%;
}

.showcaseImage {
	padding: 20px;
	width: 80%;
	height: auto;
}

.assetList {
	display: grid;
	grid-template-columns: auto;
}

.lighter {
	background-color: #535863;
}

.title {
	background-color: #6f7581;
	padding: 20px;
	font-size: 72px;
}